
# Created by https://www.toptal.com/developers/gitignore/api/python,pycharm,windows,django
# Edit at https://www.toptal.com/developers/gitignore?templates=python,pycharm,windows,django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media